# Task 2: Recommendation Engine - Skeleton Notebook

This notebook provides a very basic example for the notebook you are expected to submit for Task 2 of the Final Project. The main purpose is that we can try different examples to get a better sense of your approach. Compared to Task 1 (Kaggle Competition), we don't have any objective means to evaluate the recommendations. 

Some general comments:
* You can import any data you need. This particularly includes your cleaned version of the Used Cars dataset; there's no need to show the data cleaning / preprocessing steps in this notebook.
* You can also import your code in form of external Python (.py) script. You're actually encouraged to do so to keep this notebook light and uncluttered.
* Please consider this notebook as an example and not to set specific requirements. As long there is a section where we can easily test your solution, it should be fine.

## Setting up the Notebook

In [1]:
import pandas as pd
import numpy as np
from src.recommendation import calculate_sim

## Load the Data

For this example, we use a simplified version of the dataset with only 100 data sample, each with only 6 features

In [2]:
df_sample = pd.read_csv('./data/preprocessed_recommendation_data.csv')

df_sample = df_sample.drop(['listing_id'], axis=1)

df_sample.head()

,make,manufactured,reg_date,type_of_vehicle,transmission,power,engine_cap,no_of_owners,depreciation,coe,road_tax,dereg_value,mileage,omv,arf,price
0,bmw,2013.0,2013.0,luxury sedan,auto,135.0,1997.0,1.0,17700.0,77100.0,1210.0,47514.0,73000.0,45330.0,50462.0,71300.0
1,mercedes-benz,2016.0,2016.0,luxury sedan,auto,90.0,1595.0,1.0,15070.0,53694.0,740.0,44517.0,80000.0,27886.0,26041.0,95500.0
2,mercedes-benz,2019.0,2020.0,luxury sedan,auto,115.0,1497.0,1.0,16400.0,40690.0,684.0,80301.0,9800.0,46412.0,56977.0,197900.0
3,honda,2019.0,2019.0,mid-sized sedan,auto,92.0,1597.0,1.0,10450.0,26667.0,742.0,36453.0,40000.0,20072.0,20101.0,103200.0
4,volvo,2015.0,2015.0,hatchback,auto,90.0,1498.0,3.0,11020.0,56001.0,684.0,37311.0,77777.0,22809.0,18933.0,62500.0

## Computing the Top Recommendations

The method `get_top_recommendations()` shows an example of how to get the top recommendations for a given data sample (data sample = row in the dataframe of the dataset). The input is a row from the dataset and a list of optional input parameters which will depend on your approach; `k` is the number of returned recommendations seems useful, though.

The output should be a `pd.DataFrame` containing the recommendations. The output dataframe should have the same columns as the row + any additional columns you deem important (e.g., any score or tags that you might want to add to your recommendations).

In principle, the method `get_top_recommendations()` may be imported from a external Python (.py) script as well.

In [3]:
def get_top_recommendations(row, **kwargs) -> pd.DataFrame:
    
    #####################################################
    ## Initialize the required parameters
    
    # The number of recommendations seem recommended
    # Additional input parameters are up to you
    k = None
    df = None
    row_id = None
    
    # Extract all **kwargs input parameters
    # and set the used paramaters (here: k)
    for key, value in kwargs.items():
        if key == 'k':
            k = value
        if key == "df":
            df = value
        if key == "row_id":
            row_id = value
            
       
    #####################################################
    ## Compute your recommendations
    #
    # This is where your magic happens. Of course, you can call methods
    # defined in this notebook or in external Python (.py) scripts
    # print(df.head())
    original_df = df.copy()
    df = pd.get_dummies(df)
    item = np.array(df.iloc[row_id])
    sim = calculate_sim(np.array(df),item)
    print(sim)

    idx = sim.argsort()[-k-1:-1][::-1]
    print(sim[idx])
        
    # Here, we just return the input row k times
    # Ideally, you recommendations will be much better
    df_result = pd.DataFrame(original_df.iloc[idx], index=None)
        
    # Return the dataset with the k recommendations
    return df_result

## Testing the Recommendation Engine

This will be the main part of your notebook to allow for testing your solutions. Most basically, for a given listing (defined by the row id in your input dataframe), we would like to see the recommendations you make. So however you set up your notebook, it should have at least a comparable section that will allow us to run your solution for different inputs.

### Pick a Sample Listing as Input

In [4]:
# Pick rows id of choice
# row_id = np.random.choice(range(0,len(df_sample)),10)
row_id = 10


# Get the row from the dataframe (an valid row ids will throw an error)
row = df_sample.iloc[row_id]

# Just for printing it nicely, we create a new dataframe from this single row
pd.DataFrame([row])

,make,manufactured,reg_date,type_of_vehicle,transmission,power,engine_cap,no_of_owners,depreciation,coe,road_tax,dereg_value,mileage,omv,arf,price
10,ferrari,2004.0,2004.0,sports car,auto,380.0,5748.0,4.0,141810.0,66834.0,10026.0,19794.0,55584.0,259435.0,285379.0,462000.0

## Compute and Display the recommendations

Since the method `get_top_recommendations()` returns a `pd.DataFrame`, it's easy to display the result.

In [5]:
k = 3

df_recommendations = get_top_recommendations(row, row_id=row_id, df=df_sample, k=k)

df_recommendations.head(k)

[0.74887856 0.75252465 0.88207556 ... 0.59195322 0.79546678 0.91790142]
[0.99167916 0.98864963 0.98780932]

,make,manufactured,reg_date,type_of_vehicle,transmission,power,engine_cap,no_of_owners,depreciation,coe,road_tax,dereg_value,mileage,omv,arf,price
875,ferrari,2007.0,2008.0,sports car,auto,357.0,4308.0,5.0,49850.0,52271.0,6205.0,33554.0,39000.0,200486.0,220535.0,352000.0
1093,mercedes-benz,2009.0,2009.0,sports car,auto,232.0,3498.0,2.0,25290.0,31335.0,4113.0,23317.0,18996.0,120317.0,120317.0,207000.0
8624,ferrari,2008.0,2008.0,sports car,auto,357.0,4308.0,3.0,44970.0,40881.0,6205.0,27261.0,73000.0,183526.0,183526.0,329900.0